In [42]:
#To visualize each statistics one by one kindly run each statement one by one 

import pandas as pd
import numpy as np
df=pd.read_csv('Employees_Absenteeism.csv',sep=',')
#total no of rows and columns
df.shape
#Basic information
df.info()
#Describe the data
df.describe()
#Find the duplicates
df.duplicated().sum()
#unique values
df['EmployeeNumber'].unique()
df['Surname'].unique()
df['GivenName'].unique()
df['Gender'].unique()
df['City'].unique()
df['JobTitle'].unique()
#Find null values
df.isnull().sum()
#Replace null values
df.replace(np.nan,'0',inplace = True)
#Check the changes now
df.isnull().sum()
#Datatypes
df.dtypes
#Correlation 
df.corr()
#skewness
# skewness along the index axis
df.skew(axis = 0, skipna = True)
# find skewness in each row
df.skew(axis = 1, skipna = True)
#Sum of values
df.sum()
#Number of non-NA values
df.count()
# Describe index
df.index
#Describe DataFrame columns
df.columns
#Sort by the values along an axis
df.sort_values(by='GivenName')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  500 non-null    int64
 1   Surname         500 non-null    object
 2   GivenName       500 non-null    object
 3   Gender          500 non-null    object
 4   City            500 non-null    object
 5   JobTitle        499 non-null    object
 6   DepartmentName  500 non-null    object
 7   StoreLocation   500 non-null    object
 8   Division        499 non-null    object
 9   Age             495 non-null    float64
 10  LengthService   500 non-null    float64
 11  AbsentHours     496 non-null    float64
 12  BusinessUnit    500 non-null    object
dtypes: float64(3), int64(1), object(9)
memory usage: 50.9+ KB

,EmployeeNumber,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,BusinessUnit
50,51,Murry,Adam,M,Burnaby,Baker,Bakery,Burnaby,Stores,30.29765,7.560141,3.7371,Stores
31,32,Donaldson,Adriana,F,Vancouver,Accounting Clerk,Accounting,Vancouver,FinanceAndAccounting,42.8715,19.006436,38.883323,HeadOffice
112,113,Kamen,Alan,M,Kitimat,Baker,Bakery,Terrace,Stores,39.046229,1.733551,56.304332,Stores
83,84,Burden,Alexis,F,Penticton,Baker,Bakery,Kelowna,Stores,51.991375,2.964089,140.911141,Stores
284,285,Braud,Alfonso,M,Crawford Bay,Baker,Bakery,Cranbrook,Stores,38.389067,4.968578,28.630011,Stores
...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,243,Vega,Yoshiko,F,Wells,Baker,Bakery,Kamloops,Stores,28.917247,2.244451,21.039049,Stores
372,373,Walker,Yvette,F,Victoria,Baker,Bakery,Victoria,Stores,48.733142,4.425093,73.926781,Stores
104,105,Hash,Yvonne,F,Victoria,Baker,Bakery,Victoria,Stores,44.001051,4.034429,98.557678,Stores
142,143,Galindo,Zachary,M,Victoria,Baker,Bakery,Victoria,Stores,49.476139,4.687620,56.923976,Stores
465,466,King,Zoraida,F,Vancouver,Systems Analyst,Information Technology,Vancouver,InfoTech,39.19805,11.775360,68.60073,HeadOffice